* {
    font-family: Arial;
}

html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(rgba(250, 67, 192, 1), rgba(60, 240, 236, 1));
    background-repeat: no-repeat;
    min-height: 100%;
}

#header {
    height: 80px;
    width: 99%;
    background-color: rgba(60, 240, 236, 1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.links {
    display: inline-block;
    background-color: white;
    color: rgba(250, 67, 192, 1);
    padding: 10px;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 150px;
    transition: box-shadow .25s, width .25s, background-color .5s, color .5s;
}

.links:hover {
    background-color: #fa43c0;
    color: white;
    box-shadow: 3px 5px rgba(145, 36, 111, 1);
    width: 225px;
}

#titleCell {
    text-align: right;
}

#bannerTable {
    height: 100%;
    width: 100%;
}

#linkColumn {
    text-align: left;
}

#siteTitle {
    color: white;
    padding: 10px;
    font-size: 40px;
    margin-right: 10px;
    text-decoration: none;
    background-color: rgba(250, 67, 192, 1);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: box-shadow .25s;
}

#siteTitle:hover {
    box-shadow: 3px 5px rgba(145, 36, 111, 1);
}

/* citation for box code below
author: Tobias Ahlin Bjerrome
date accessed: 05/06/2020
url: https://tobiasahlin.com/blog/how-to-animate-box-shadow/
*/

.box {
    position: relative;
    display: inline-block;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 40px 5px rgba(0, 0, 0, 0.9);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}

.box:hover::after {
    opacity: 1;
}

/* end of cited code */

.displayArea {
    background-color: rgba(60, 240, 236, .8);
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
}

.infoCell {
    padding: 30px;
    text-align: justify;
    color: white;
}

.infoCellText {
    background-color: rgba(250, 67, 192, .8);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#resumeDisplay {
    width: 1000px;
    text-align: center;
}

#resumeDownload {
    text-align: left;
    display: inline-block;
    background-color: white;
    color: rgba(250, 67, 192, 1);
    padding: 10px;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 220px;
    transition: box-shadow .25s, width .25s, background-color .5s, color .5s;
}

#resumeDownload:hover {
    background-color: #fa43c0;
    color: white;
    box-shadow: 3px 5px rgba(145, 36, 111, 1);
    width: 330px;
}

#cardContainer {
    text-align: center;
    width: 100%;
    height: 400px;
}

.homeCards {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 32%;
    height: 400px;
    font-size: 17px;
    margin: 2px;
    background-color: rgba(60, 240, 236, .8);
    color: white;
    opacity: .7;
    transition: width .5s, height .5s, font-size .5s, opacity .5s, padding .5s;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.homeCards:hover {
    top: 0;
    opacity: 1;
    font-size: 24px;
}

#trident {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 0px;
    display: block;
    width: 180px;
    height: 100px;
    opacity: 1;
    transition: width .5s, height .5s, opacity .5s, transform .5s, object-fit .5s, object-position .5s;
}

.homeCards:hover #trident {
    width: 100%;
    height: 100%;
    opacity: .1;
    object-fit: cover;
    object-position: center center;
}

.homeCardText {
    background-color: rgba(250, 67, 192, .8);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
    position: relative;
    z-index: 2;
}