body {
	padding: 0;
	max-width: 1250px;
	background: linear-gradient(-45deg, #FAFAFA, #D8D8D8);
    text-align: center;
}

p {
	font-family: Arial;
	text-align: justify;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    max-width: 1000px;
}

h1 {
	font-size: 80px;
	color: #319E9E;
}

h1,
h2 {
	width:100%;
	font-family: Arial;
	text-align: center;
}

h2 {
	background-color: #319E9E;
	color: white;
	padding: 10px;
	margin: auto;
	width: 50%;
	border: solid 2px #1D6969;
	border-radius: 10px;
	box-shadow: 8px 8px 3px grey;
}

.links {
	margin: auto;
	margin: auto;
    position: fixed;
    top: 20px;
    left: 20px;
}

.links a{
	background-color: #319E9E;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	border: solid 2px #1D6969;
	border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}

#parallel {
	height: 250px;
}

#scatter {
	height: 300px;
	margin-bottom: 20px;
}

.viz {
	width: 800px;
}

.images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px grey;
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}